<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings">🌍 WonderLust</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Add Listing</a>
        <!-- <a class="nav-link" href="#">Login</a> -->
      </div>

      <!-- Search Bar -->
      <form class="d-flex search-form mx-auto" action="/listings" method="GET">
        <input 
          class="form-control search-input" 
          type="search" 
          name="q" 
          placeholder="Search listings..." 
          aria-label="Search"
        >
        <button class="btn search-btn" type="submit">Search</button>
      </form>

      
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>

            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
              <% } %>
      </div>
    </div>

  </div>
</nav>